<table class="table">
    <tbody>
    <tr>
        <td>Диагональ</td>
        <td>{{ products.diagonal }}</td>
    </tr>
    <tr>
        <td>Тип дисплея</td>
        <td>{{ products.display_type }}</td>
    </tr>
    <tr>
        <td>Частота процессора</td>
        <td>{{ products.processor_freg }}</td>
    </tr>
    <tr>
        <td>Память</td>
        <td>{{ products.ram }}</td>
    </tr>
    <tr>
        <td>Видео память</td>
        <td>{{ products.video }}</td>
    </tr>
    <tr>
        <td>Время работы аккумулятора</td>
        <td>{{ products.time_without_charge }}</td>
    </tr>
    </tbody>
</table>
