{% extends 'admin/change_form.html' %}
{% load static %}

{% block admin_change_form_document_ready %}
    {{ block.super }}
    <script>
        (function ($) {
            var
                $vol_sd = $('#id_sd_vol_max'),
                $check_sd = $('#id_sd');

            $check_sd.on('click',function() {
                if ($check_sd.is(':checked')) {
                    $vol_sd.prop('readonly', false)
                    $vol_sd.val('')
                    $vol_sd.css('background', 'white')
                } else {
                    $vol_sd.prop('readonly', true)
                    $vol_sd.val('')
                    $vol_sd.css('background', 'lightgrey')
                }
            })
        })(django.jQuery);
    </script>
{% endblock %}